<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">
            jdbc:postgresql://ec2-46-137-100-204.eu-west-1.compute.amazonaws.com:5432/d3g13j6j8i2ub1
        </property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="hibernate.connection.username">bdklzwybxtwozt</property>
        <property name="hibernate.connection.password">
            401ab8a01c9e1fe3e9cb97a7bad46d896f6468af806a4d03e1fc559e7c031cd1
        </property>

        <property name="hbm2ddl.auto">update</property>
<!--        <property name="connection_pool_size">1</property>-->
<!--        <property name="show_sql">true</property>-->

        <mapping class="database.entity.User"/>
        <mapping class="database.entity.Guest"/>
        <mapping class="database.entity.Member"/>
        <mapping class="database.entity.Student"/>
        <mapping class="database.entity.Lecturer"/>
        <mapping class="database.entity.Group"/>
        <mapping class="database.entity.LecturerData"/>

    </session-factory>
</hibernate-configuration>