<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">
            jdbc:postgresql://ec2-176-34-97-213.eu-west-1.compute.amazonaws.com:5432/d1htngarsh95ut
        </property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="hibernate.connection.username">qiyzrgvdgacdyz</property>
        <property name="hibernate.connection.password">
            b49fbff7cb2f0f538309f467192baff7792b89a4997533e3d217e467b206ef2e
        </property>

        <property name="hbm2ddl.auto">update</property>
<!--        <property name="connection_pool_size">1</property>-->
<!--        <property name="show_sql">true</property>-->

        <mapping class="database.entity.User"/>
        <mapping class="database.entity.Guest"/>
        <mapping class="database.entity.Student"/>
        <mapping class="database.entity.Lecturer"/>
        <mapping class="database.entity.Group"/>

    </session-factory>
</hibernate-configuration>